

!Command: show running-config
!Time: Wed Mar  1 20:11:51 2017

version 6.2(12)
power redundancy-mode ps-redundant

hostname itsintcore1
no system admin-vdc
install feature-set fex
vdc itsintcore1 id 1
  limit-resource module-type m1 f1 m1xl m2xl
  allow feature-set fex
  allocate interface Ethernet1/1-7,Ethernet1/10-17,Ethernet1/21-48
  allocate interface Ethernet2/1-48
  allocate interface Ethernet3/1-32
  allocate interface Ethernet9/1-32
  allocate interface Ethernet10/1-32
  limit-resource vlan minimum 16 maximum 4094
  limit-resource monitor-session minimum 0 maximum 2
  limit-resource monitor-session-erspan-dst minimum 0 maximum 23
  limit-resource vrf minimum 2 maximum 1000
  limit-resource port-channel minimum 0 maximum 768
  limit-resource u4route-mem minimum 96 maximum 96
  limit-resource u6route-mem minimum 24 maximum 24
  limit-resource m4route-mem minimum 58 maximum 58
  limit-resource m6route-mem minimum 8 maximum 8
  limit-resource monitor-session-inband-src minimum 0 maximum 1
  limit-resource anycast_bundleid minimum 0 maximum 16
  limit-resource monitor-session-mx-exception-src minimum 0 maximum 1
  limit-resource monitor-session-extended minimum 0 maximum 12
vdc eigrp-testing id 2
  limit-resource module-type m1 f1 m1xl m2xl
  allow feature-set fex
  boot-order 1
  limit-resource vlan minimum 16 maximum 4094
  limit-resource monitor-session minimum 0 maximum 2
  limit-resource monitor-session-erspan-dst minimum 0 maximum 23
  limit-resource vrf minimum 2 maximum 1000
  limit-resource port-channel minimum 0 maximum 768
  limit-resource u4route-mem minimum 8 maximum 8
  limit-resource u6route-mem minimum 4 maximum 4
  limit-resource m4route-mem minimum 8 maximum 8
  limit-resource m6route-mem minimum 3 maximum 3
  limit-resource monitor-session-inband-src minimum 0 maximum 1
  limit-resource anycast_bundleid minimum 0 maximum 16
  limit-resource monitor-session-mx-exception-src minimum 0 maximum 1
  limit-resource monitor-session-extended minimum 0 maximum 12
vdc raritan-svrfarm id 3
  limit-resource module-type m1 f1 m1xl m2xl
  allow feature-set fex
  allocate interface Ethernet1/8-9,Ethernet1/18-20
  boot-order 1
  limit-resource vlan minimum 16 maximum 4094
  limit-resource monitor-session minimum 0 maximum 2
  limit-resource monitor-session-erspan-dst minimum 0 maximum 23
  limit-resource vrf minimum 2 maximum 1000
  limit-resource port-channel minimum 0 maximum 768
  limit-resource u4route-mem minimum 8 maximum 8
  limit-resource u6route-mem minimum 4 maximum 4
  limit-resource m4route-mem minimum 8 maximum 8
  limit-resource m6route-mem minimum 5 maximum 5
  limit-resource monitor-session-inband-src minimum 0 maximum 1
  limit-resource anycast_bundleid minimum 0 maximum 16
  limit-resource monitor-session-mx-exception-src minimum 0 maximum 1
  limit-resource monitor-session-extended minimum 0 maximum 12
vdc raritan-svrfarm-f2 id 4
  limit-resource module-type f2 f2e
  allow feature-set fex
  allocate interface Ethernet8/1-48
  boot-order 1
  limit-resource vlan minimum 16 maximum 4094
  limit-resource monitor-session minimum 0 maximum 2
  limit-resource monitor-session-erspan-dst minimum 0 maximum 23
  limit-resource vrf minimum 2 maximum 4096
  limit-resource port-channel minimum 0 maximum 768
  limit-resource u4route-mem minimum 8 maximum 8
  limit-resource u6route-mem minimum 4 maximum 4
  limit-resource m4route-mem minimum 8 maximum 8
  limit-resource m6route-mem minimum 5 maximum 5
  limit-resource monitor-session-inband-src minimum 0 maximum 1
  limit-resource anycast_bundleid minimum 0 maximum 16
  limit-resource monitor-session-mx-exception-src minimum 0 maximum 1
  limit-resource monitor-session-extended minimum 0 maximum 12
feature-set fex

feature privilege
feature telnet
feature scp-server
feature tacacs+
feature bgp
feature eigrp
feature pbr
feature udld
feature interface-vlan
feature dot1x
feature netflow
feature hsrp
feature lacp
feature dhcp
feature lldp
feature vtp
feature wccp

logging level vtp 2
username admin password 5 $1$33Y4Mewb$VsRF3lfocGIPjfaMRKsAa.  role network-admin
username mtepedin password 5 $1$zUmh79DT$lxBtwPhUrwgvP2rTgn2B5.  role network-admin
username jforaker password 5 $1$bNGkbLWs$obWSBYF.gPePjIImPOADH1  role network-admin
username vvenkate password 5 $1$SQXX804l$gkqnXkz4wqhKcP9/.qfZi0  role network-admin
username vvenkate1 password 5 $1$1ymBy3HY$0QhAim8eEW3FF.nC87Syn0  role network-operator
username hmcanany password 5 $1$mqNxAByG$uipWdPUuHK9BiXNqk1vwA.  role network-admin
username ewong password 5 $1$8qP/x1WF$ES9H/LZkmej850SotApKV.  role network-admin
username tdouris password 5 $1$.jNftLk/$WDYAnqBas3Vf5CqBwqsv7.  role network-admin
username nlinzmay password 5 $1$bq.vhuo2$NWZ6SP6SnwVcuIQevS8Zg.  role network-admin
enable secret 5 $1$5028e57d$af6e4e7fe482d919
no password strength-check
no ip domain-lookup
ip domain-name interop.jnj.com
tacacs-server key 7 "DPVh1sx0##"
tacacs-server host 10.0.1.95
aaa group server tacacs+ TACACS
    server 10.0.1.95
system default switchport
service unsupported-transceiver
dot1x timeout re-authperiod 86400
ip access-list BlueCoat-OIAOUT
  1 deny ip 10.0.31.200/32 any
  2 deny ip 10.36.5.185/32 any
  10 permit ip any any
ip access-list SNMP-ACL
  10 remark Limit SNMP RO to various approved networks
  20 permit ip 10.0.31.128/25 any
ip access-list copp-system-acl-bgp
  10 permit tcp any gt 1024 any eq bgp
  20 permit tcp any eq bgp any gt 1024
ipv6 access-list copp-system-acl-bgp6
  10 permit tcp any gt 1024 any eq bgp
  20 permit tcp any eq bgp any gt 1024
ip access-list copp-system-acl-cts
  10 permit tcp any any eq 64999
  20 permit tcp any eq 64999 any
ip access-list copp-system-acl-dhcp
  10 permit udp any eq bootpc any
  20 permit udp any eq bootps any
  30 permit udp any any eq bootpc
  40 permit udp any any eq bootps
ip access-list copp-system-acl-eigrp
  10 permit eigrp any any
ip access-list copp-system-acl-ftp
  10 permit tcp any any eq ftp-data
  20 permit tcp any any eq ftp
  30 permit tcp any eq ftp-data any
  40 permit tcp any eq ftp any
ip access-list copp-system-acl-glbp
  10 permit udp any eq 3222 224.0.0.0/24 eq 3222
ip access-list copp-system-acl-hsrp
  10 permit udp any 224.0.0.0/24 eq 1985
ipv6 access-list copp-system-acl-hsrp6
  10 permit udp any ff02::66/128 eq 2029
ip access-list copp-system-acl-icmp
  10 permit icmp any any echo
  20 permit icmp any any echo-reply
ipv6 access-list copp-system-acl-icmp6
  10 permit icmp any any echo-request
  20 permit icmp any any echo-reply
ipv6 access-list copp-system-acl-icmp6-msgs
  10 permit icmp any any router-advertisement
  20 permit icmp any any router-solicitation
  30 permit icmp any any nd-na
  40 permit icmp any any nd-ns
  50 permit icmp any any mld-query
  60 permit icmp any any mld-report
  70 permit icmp any any mld-reduction
ip access-list copp-system-acl-igmp
  10 permit igmp any 224.0.0.0/3
ip access-list copp-system-acl-msdp
  10 permit tcp any gt 1024 any eq 639
  20 permit tcp any eq 639 any gt 1024
ip access-list copp-system-acl-ntp
  10 permit udp any any eq ntp
  20 permit udp any eq ntp any
ipv6 access-list copp-system-acl-ntp6
  10 permit udp any any eq ntp
  20 permit udp any eq ntp any
ip access-list copp-system-acl-ospf
  10 permit ospf any any
ipv6 access-list copp-system-acl-ospf6
  10 permit 89 any any
ip access-list copp-system-acl-pim
  10 permit pim any 224.0.0.0/24
  20 permit udp any any eq pim-auto-rp
  30 permit ahp any 224.0.0.13/32
ip access-list copp-system-acl-pim-reg
  10 permit pim any any
ipv6 access-list copp-system-acl-pim6
  10 permit pim any ff02::d/128
  20 permit udp any any eq pim-auto-rp
ip access-list copp-system-acl-radius
  10 permit udp any any eq 1812
  20 permit udp any any eq 1813
  30 permit udp any any eq 1645
  40 permit udp any any eq 1646
  50 permit udp any eq 1812 any
  60 permit udp any eq 1813 any
  70 permit udp any eq 1645 any
  80 permit udp any eq 1646 any
ipv6 access-list copp-system-acl-radius6
  10 permit udp any any eq 1812
  20 permit udp any any eq 1813
  30 permit udp any any eq 1645
  40 permit udp any any eq 1646
  50 permit udp any eq 1812 any
  60 permit udp any eq 1813 any
  70 permit udp any eq 1645 any
  80 permit udp any eq 1646 any
ip access-list copp-system-acl-rip
  10 permit udp any 224.0.0.0/24 eq rip
ip access-list copp-system-acl-sftp
  10 permit tcp any any eq 115
  20 permit tcp any eq 115 any
ip access-list copp-system-acl-snmp
  10 permit udp any any eq snmp
  20 permit udp any any eq snmptrap
ip access-list copp-system-acl-ssh
  10 permit tcp any any eq 22
  20 permit tcp any eq 22 any
ipv6 access-list copp-system-acl-ssh6
  10 permit tcp any any eq 22
  20 permit tcp any eq 22 any
ip access-list copp-system-acl-tacacs
  10 permit tcp any any eq tacacs
  20 permit tcp any eq tacacs any
ipv6 access-list copp-system-acl-tacacs6
  10 permit tcp any any eq tacacs
  20 permit tcp any eq tacacs any
ip access-list copp-system-acl-telnet
  10 permit tcp any any eq telnet
  20 permit tcp any any eq 107
  30 permit tcp any eq telnet any
  40 permit tcp any eq 107 any
ipv6 access-list copp-system-acl-telnet6
  10 permit tcp any any eq telnet
  20 permit tcp any any eq 107
  30 permit tcp any eq telnet any
  40 permit tcp any eq 107 any
ip access-list copp-system-acl-tftp
  10 permit udp any any eq tftp
  20 permit udp any any eq 1758
  30 permit udp any eq tftp any
  40 permit udp any eq 1758 any
ipv6 access-list copp-system-acl-tftp6
  10 permit udp any any eq tftp
  20 permit udp any any eq 1758
  30 permit udp any eq tftp any
  40 permit udp any eq 1758 any
ip access-list copp-system-acl-traceroute
  10 permit icmp any any ttl-exceeded
  20 permit icmp any any port-unreachable
ip access-list copp-system-acl-undesirable
  10 permit udp any any eq 1434
ip access-list copp-system-acl-vpc
  10 permit udp any any eq 3200
ip access-list copp-system-acl-vrrp
  10 permit 112 any 224.0.0.0/24
ip access-list copp-system-acl-wccp
  10 permit udp any eq 2048 any eq 2048
ip access-list pbr-FP_Cliets
  10 remark PBR Internet to test FP OIA
  20 permit tcp 10.0.188.101/32 any eq www
  30 permit tcp 10.0.188.101/32 any eq 443
  40 permit tcp 10.0.188.102/32 any eq www
  50 permit tcp 10.0.188.102/32 any eq 443
  100 permit tcp 10.0.188.105/32 any eq www
  110 permit tcp 10.0.188.105/32 any eq 443
  120 permit tcp 10.0.188.103/32 any eq 443
  130 permit tcp 10.0.188.103/32 any eq www
ip access-list pbr-FP_Cliets_Default
  10 remark PBR default for inside IP ranges
  40 permit ip 10.0.188.96/27 10.0.0.0/8
  50 permit ip 10.0.188.96/27 172.16.0.0/12
class-map type control-plane match-any copp-system-class-critical
  match access-group name copp-system-acl-bgp
  match access-group name copp-system-acl-pim
  match access-group name copp-system-acl-rip
  match access-group name copp-system-acl-vpc
  match access-group name copp-system-acl-bgp6
  match access-group name copp-system-acl-igmp
  match access-group name copp-system-acl-msdp
  match access-group name copp-system-acl-ospf
  match access-group name copp-system-acl-pim6
  match access-group name copp-system-acl-eigrp
  match access-group name copp-system-acl-ospf6
class-map type control-plane match-any copp-system-class-exception
  match exception ip option
  match exception ip icmp unreachable
  match exception ipv6 option
  match exception ipv6 icmp unreachable
class-map type control-plane match-any copp-system-class-important
  match access-group name copp-system-acl-cts
  match access-group name copp-system-acl-glbp
  match access-group name copp-system-acl-hsrp
  match access-group name copp-system-acl-vrrp
  match access-group name copp-system-acl-wccp
  match access-group name copp-system-acl-hsrp6
  match access-group name copp-system-acl-pim-reg
  match access-group name copp-system-acl-icmp6-msgs
class-map type control-plane match-any copp-system-class-management
  match access-group name copp-system-acl-ftp
  match access-group name copp-system-acl-ntp
  match access-group name copp-system-acl-ssh
  match access-group name copp-system-acl-ntp6
  match access-group name copp-system-acl-sftp
  match access-group name copp-system-acl-snmp
  match access-group name copp-system-acl-ssh6
  match access-group name copp-system-acl-tftp
  match access-group name copp-system-acl-tftp6
  match access-group name copp-system-acl-radius
  match access-group name copp-system-acl-tacacs
  match access-group name copp-system-acl-telnet
  match access-group name copp-system-acl-radius6
  match access-group name copp-system-acl-tacacs6
  match access-group name copp-system-acl-telnet6
class-map type control-plane match-any copp-system-class-monitoring
  match access-group name copp-system-acl-icmp
  match access-group name copp-system-acl-icmp6
  match access-group name copp-system-acl-traceroute
class-map type control-plane match-any copp-system-class-normal
  match access-group name copp-system-acl-dhcp
  match redirect dhcp-snoop
  match protocol arp
class-map type control-plane match-any copp-system-class-redirect
  match redirect arp-inspect
class-map type control-plane match-any copp-system-class-undesirable
  match access-group name copp-system-acl-undesirable
policy-map type control-plane copp-system-policy
  class copp-system-class-critical
    police cir 39600 kbps bc 250 ms conform transmit violate drop
  class copp-system-class-important
    police cir 1060 kbps bc 1000 ms conform transmit violate drop
  class copp-system-class-management
    police cir 10000 kbps bc 250 ms conform transmit violate drop
  class copp-system-class-normal
    police cir 680 kbps bc 250 ms conform transmit violate drop
  class copp-system-class-redirect
    police cir 280 kbps bc 250 ms conform transmit violate drop
  class copp-system-class-monitoring
    police cir 130 kbps bc 1000 ms conform transmit violate drop
  class copp-system-class-exception
    police cir 360 kbps bc 250 ms conform transmit violate drop
  class copp-system-class-undesirable
    police cir 32 kbps bc 250 ms conform drop violate drop
  class class-default
    police cir 100 kbps bc 250 ms conform transmit violate drop
copp profile strict
vtp mode transparent
vtp domain STU
fex 101
  pinning max-links 1
  description 2232-DI-41
  type N2232TM-E
fex 102
  pinning max-links 1
  description 2232-DF-41
  type N2232TM-E
fex 103
  pinning max-links 1
  description 2248-DI-55
  type N2248T
fex 104
  pinning max-links 1
  description 2248-DI-41
  type N2248TP-E
fex 107
  pinning max-links 1
  description 2248-DI-41
  type N2248TP-E
fex 109
  pinning max-links 1
  description 2248-DF-59
fex 110
  pinning max-links 1
  description 2248-DF-63
  type N2248T
snmp-server contact Network Core Engineering
snmp-server location ITS Interop Lab
snmp-server source-interface trap Vlan99
snmp-server user admin network-admin auth md5 0x26cc05e456719bd9dbcfbe74dc3d596c priv 0x26cc05e456719bd9dbcfbe74dc3d596c localizedkey
snmp-server user ewong network-admin auth md5 0x2db4b7693f251fb237d9818ec65f7318 priv 0x2db4b7693f251fb237d9818ec65f7318 localizedkey
snmp-server user tdouris network-admin auth md5 0x60ca64084604ba20be85e1b6b00ea6a7 priv 0x60ca64084604ba20be85e1b6b00ea6a7 localizedkey
snmp-server user hmcanany network-admin auth md5 0xc551f0a73c2f2f644eed80270ab5faab priv 0xc551f0a73c2f2f644eed80270ab5faab localizedkey
snmp-server user jforaker network-admin auth md5 0x141717fe3a9acb170ccc239e6a68a2e6 priv 0x141717fe3a9acb170ccc239e6a68a2e6 localizedkey
snmp-server user mtepedin network-admin auth md5 0x26cc05e456719bd9dbcfbe74dc3d596c priv 0x26cc05e456719bd9dbcfbe74dc3d596c localizedkey
snmp-server user nlinzmay network-admin auth md5 0xd13acafb235454318298e24f280af4d2 priv 0xd13acafb235454318298e24f280af4d2 localizedkey
snmp-server user vvenkate network-admin auth md5 0x238b4cafc7ed04b7b6d870ff2201679c priv 0x238b4cafc7ed04b7b6d870ff2201679c localizedkey
snmp-server user vvenkate1 network-operator auth md5 0x141717fe3a9acb170ccc239e6a68a2e6 priv 0x141717fe3a9acb170ccc239e6a68a2e6 localizedkey
rmon event 1 log trap public description FATAL(1) owner PMON@FATAL
rmon event 2 log trap public description CRITICAL(2) owner PMON@CRITICAL
rmon event 3 log trap public description ERROR(3) owner PMON@ERROR
rmon event 4 log trap public description WARNING(4) owner PMON@WARNING
rmon event 5 log trap public description INFORMATION(5) owner PMON@INFO
snmp-server community ro4TEDlab group network-operator
snmp-server community imp0ss1ble12 group network-operator
snmp-server community ro4TEDlab use-acl SNMP-ACL
ntp server 10.0.5.10 use-vrf management
ntp server 10.0.5.11 prefer use-vrf management
ntp server 10.0.5.15 use-vrf management
ntp server 10.0.11.230 use-vrf management
ntp source-interface  mgmt0
aaa authentication login default group TACACS

ip route 0.0.0.0/0 10.0.16.4
ip route 10.0.0.0/8 10.0.14.132
ip route 10.0.31.128/25 10.0.83.20 name Net-Eng-MGMT-ToFW001
ip route 10.0.45.224/28 10.0.1.45
ip route 10.0.77.0/24 10.0.16.4 name Firewall-ITSUSRA5474FW098-99
ip route 10.0.77.0/24 10.0.16.6 name Firewall-InterOP-ASAInt
ip route 10.0.78.0/24 10.0.16.4 name Firewall-ITSUSRA5474FW098-99
ip route 10.0.83.32/29 10.0.83.20 name Net-Eng-MGMT-SW-ToFw001
ip route 10.0.83.48/28 10.0.83.28 name Net-Eng-DMZ-ToFw001
ip route 10.0.128.0/20 10.0.99.250
ip route 10.0.128.0/20 10.0.99.252
ip route 10.0.188.0/28 10.0.201.148 name SDDC-Sandbox-F5-VS
ip route 10.0.201.176/28 10.0.201.132 name LB002-virtuals
ip route 172.16.0.0/12 10.0.14.132
ipv6 route 0::/0 2620:147:c00:6::3
vlan 1-2,9-36,64-65,80-93,99-104,110,128-129,150,201-202,221-222,232,299-317,319-331,455,500,502-503,505-508,510-516,525-526,530,532,540,542,544,546,548-551,600-601,608,610-618,701,704,800-803,900-901
flow timeout active 60
flow exporter SevOne-Collector-LAB
  description export netflow to SevOne
  destination 10.0.31.213
  transport udp 9996
  source Vlan300
  version 9
ip wccp 90 password 0 bcprfw  redirect-list BlueCoat-OIAOUT
sampler NF-Sampler-1
  description 1-of-1024
  mode 1 out-of 1024
sampler NETFLOW-SAMPLER
  mode 1 out-of 50
flow monitor Netflow-Monitor-1
  description Record-to-Exporter
  record netflow-original
  exporter SevOne-Collector-LAB
vlan 2
  name IXIA_to_FirePower
vlan 9
  name GlobMess(10.0.80.0/24)
vlan 10
  name GlobMess(10.0.81.0/25)
vlan 11
  name C-Class(10.0.105.0/24)
vlan 12
  name C-Class(10.0.106.0/24)
vlan 13
  name C-Class(10.0.107.0/24)
vlan 14
  name C-Class(10.0.108.0/24)
vlan 15
  name C-Class(10.0.109.0/24)
vlan 16
  name C-Class(10.0.110.0/24)
vlan 17
  name C-Class(10.0.111.0/24)
vlan 18
  name C-Class(10.0.112.0/24)
vlan 19
  name Enclosures(10.0.84.0/24)
vlan 20
  name Teradata(10.0.33.0/24)
vlan 21
  name Wave2Voice(10.0.113.0/26)
vlan 22
  name Wave2Voice(10.0.113.64/27)
vlan 23
  name Wave2Voice(10.0.113.96/27)
vlan 24
  name Wave2Voice(10.0.113.128/27)
vlan 25
  name Wave2Voice(10.0.113.160/27)
vlan 26
  name Wave2Voice(10.0.113.192/27)
vlan 27
  name Wave2Voice(10.0.114.0/26)
vlan 28
  name Wave2Voice(10.0.114.64/27)
vlan 29
  name Wave2Voice(10.0.114.96/27)
vlan 30
  name Wave2Voice(10.0.114.128/27)
vlan 31
  name F5-Outside(10.0.83.0/28)
vlan 32
  name F5-Outside(10.0.83.16/28)
vlan 33
  name F5_Server-VLAN(10.0.83.32/28)
vlan 34
  name Ixia_Test_Clients
vlan 35
  name Ixia_Test_Servers
vlan 36
  name SDDC(10.0.34.0/24)
vlan 64
  name BC-test-jforaker
vlan 65
  name BC-test-#2-jforaker
vlan 80
  name Net-Eng-ProxySG
vlan 81
  name SDDC-Eng-Mgmt
vlan 82
  name Net-Eng-F5-mgmt
vlan 83
  name Net-Eng-F5-10.0.83.0/28
vlan 84
  name Net-Eng-FW-mgmt-rail
vlan 85
  name Net-Eng-FW-DMZ
vlan 86
  name Net-Eng-tools-mgmt
vlan 87
  name Net-Eng-Device-mgmt
vlan 88
  name Net-Eng-F5-10.0.201.128/28
vlan 89
  name Net-Eng-F5-10.0.201.144/28
vlan 90
  name Net-Eng-F5-External
vlan 91
  name Net-Eng-F5-Internal
vlan 92
  name Firewall-Failover
vlan 93
  name IPv6-Outside
vlan 99
  name Mgmt(10.0.99.0/24)
vlan 100
  name IPv6-Test(2620:147:c00:1::)
vlan 104
  name Riverbed(10.0.104.0/24)
vlan 128
  name GlobMess(10.0.81.128/25)
vlan 129
  name C-Class(10.0.100.0/23)
vlan 150
  name Amazon_VPC(10.0.150.0/24
vlan 201
  name V-Block(10.0.201.16/28)
vlan 202
  name V-Block(10.0.201.32/28)
vlan 299
  name Monitoring/VPN
vlan 300
  name F/W_Link_(10.0.16.0/24)
vlan 301
  name Interop(10.0.1.0/24)
vlan 302
  name ESXi(10.0.3.0/24)
vlan 303
  name C-Cl/iLO2(10.0.4.0/24)
vlan 304
  name GlobMess(10.0.8.0/24)
vlan 305
  name Platforms(10.0.6.0/24)
vlan 306
  name WWIS(10.0.7.0/24)
vlan 307
  name NetDev(10.0.31.0/25)
vlan 308
  name NetDev(10.0.5.0/24)
vlan 309
  name PXE(10.0.17.0/24)
vlan 310
  name GlobMess(10.0.9.0/25)
vlan 311
  name GlobMess(10.0.9.128/26)
vlan 312
  name GlobMess(10.0.9.192/26)
vlan 313
  name RHL-vSphere(10.0.10.0/24)
vlan 314
  name vSphere-prod(10.0.18.0/24)
vlan 315
  name iLo(10.0.19.0/24)
vlan 316
  name DepPXE(10.0.24.0/24)
vlan 317
  name LinuxDev(10.0.10.0/24)
vlan 319
  name Rio(10.0.25.0/24)
vlan 320
  name NAC(10.0.30.0/30)
vlan 321
  name Systems(10.0.27.0/24)
vlan 322
  name SMS(10.0.14.0/29)
vlan 323
  name SMS(10.0.14.24/29)
vlan 324
  name C-Class(10.0.52.0/23)
vlan 325
  name C-Class(10.0.54.0/23)
vlan 326
  name C-Class(10.0.95.0/28)
vlan 327
  name C-Class(10.0.95.16/28)
vlan 328
  name C-Class(10.0.95.32/28)
vlan 329
  name C-Class(10.0.95.48/28)
vlan 330
  name C-Class(10.0.95.64/28)
vlan 331
  name C-Class(10.0.95.80/28)
vlan 455
  name NetDev(10.0.200.0/24)
vlan 500
  name DFDev-prod(10.0.11.0/24)
vlan 502
  name NetDev(10.0.36.0/24)
vlan 503
  name NetDev(10.0.37.0/24)
vlan 510
  name JJNet-FW501/2(10.0.14.128/28)
vlan 525
  name Int-leg(192.168.3.0/24)
vlan 526
  name Research(10.0.12.0/23)
vlan 530
  name NetDev(10.0.98.0/24)
vlan 532
  name F5(10.0.97.0/24)
vlan 540
  name C-Class(10.0.40.0/23)
vlan 542
  name C-Class(10.0.42.0/23)
vlan 544
  name C-Class(10.0.44.0/23)
vlan 550
  name VirtSrv(10.0.90.0/23)
vlan 600
  name IPv6-Native(2620:147:c00:6::/64
vlan 601
  name IPv6-Native(2620:147:c00:7::/64)
vlan 608
  name NetDev(10.0.66.248/30)
vlan 610
  name C242-Virt-1(10.0.193.0/24)
vlan 611
  name C242-Virt-2(10.0.195.0/24)
vlan 612
  name C242-Virt-3(10.0.202.0/24)
vlan 613
  name C242-Virt-4(10.0.203.0/24)
vlan 614
  name C242-Virt-5(10.0.204.0/24)
vlan 615
  name C242-Virt-6(10.0.205.0/24)
vlan 616
  name C242-Virt-7(10.0.206.0/24)
vlan 617
  name C242-Virt-8(10.0.207.0/24)
vlan 618
  name C242-Virt-9(10.0.213.0/24)
vlan 701
  name Arista-Mgmt-Vlan
vlan 704
  name NetDev2
vlan 801
  name vSphere-FT1
vlan 802
  name vSphere-Vmotion1
vlan 803
  name vSphere-Private
vlan 900
  name VMWare_Trunk

spanning-tree vlan 321,325,800,902 priority 4096
ip prefix-list SDDC-LAB-EIGRP seq 5 permit 10.0.160.0/19
ip prefix-list SDDC-LAB-EIGRP seq 10 permit 10.0.224.0/19
ip prefix-list SDDC-LAB-EIGRP seq 15 permit 10.0.208.0/23
ip prefix-list SDDC-LAB-EIGRP seq 20 permit 10.0.210.0/23
ip prefix-list SDDC-LAB-EIGRP seq 25 permit 10.0.120.0/23
ip prefix-list SDDC-LAB-SUMMARY seq 5 permit 10.0.160.0/19
ip prefix-list SDDC-Sandbox1 seq 5 permit 10.0.188.0/28
ip prefix-list SDDC-Sandbox1 seq 6 permit 10.0.190.160/27
ip prefix-list SDDC-Sandbox1 seq 10 permit 0.0.0.0/0
ip prefix-list SDDC2-LAB-SUMMARY seq 5 permit 10.0.224.0/19
ip prefix-list Treasury-Raritan-Replication seq 5 permit 10.0.208.192/26
ip prefix-list Treasury-Raritan-Replication seq 10 permit 10.0.163.128/28
ip prefix-list Treasury-Raritan-Replication seq 15 permit 10.0.160.64/26
ip prefix-list Treasury-Raritan-Subnet seq 5 permit 10.0.208.0/23
ip prefix-list Treasury-Raritan-Subnet seq 10 permit 172.16.35.0/24
ip prefix-list static-default seq 5 permit 0.0.0.0/0
ip prefix-list static-default seq 10 permit 10.0.188.0/28
route-map SDDC-LAB-EIGRP permit 5
  match ip address prefix-list SDDC-LAB-EIGRP
route-map pbr-FP permit 10
  match ip address pbr-FP_Cliets_Default
  set ip default next-hop 10.0.14.129
route-map pbr-FP permit 20
  match ip address pbr-FP_Cliets
  set ip next-hop 10.0.16.8
route-map static-default permit 5
  match ip address prefix-list static-default
vlan configuration 1,99,900
service dhcp
ip dhcp relay
ipv6 dhcp relay
vrf context management
  ip route 0.0.0.0/0 10.0.99.1


interface mgmt0
  vrf member management
  ip address 10.0.99.253/24

interface Vlan1
  ip passive-interface eigrp 1003

interface Vlan2
  ip passive-interface eigrp 1003

interface Vlan9
  ip address 10.0.80.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 9
    ip 10.0.80.1
  no shutdown

interface Vlan10
  ip address 10.0.81.125/25
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 10
    ip 10.0.81.1
  no shutdown

interface Vlan11
  ip address 10.0.105.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 11
    ip 10.0.105.1
  ip dhcp relay address 10.0.11.101
  ip dhcp relay address 10.0.46.22
  no shutdown

interface Vlan12
  ip address 10.0.106.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 12
    ip 10.0.106.1
  no shutdown

interface Vlan13
  ip address 10.0.107.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 13
    ip 10.0.107.1
  no shutdown

interface Vlan14
  ip address 10.0.108.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 14
    ip 10.0.108.1
  no shutdown

interface Vlan15
  ip address 10.0.109.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 15
    ip 10.0.109.1
  ip dhcp relay address 10.0.11.101
  ip dhcp relay address 10.0.46.22
  no shutdown

interface Vlan16
  ip address 10.0.110.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 16
    ip 10.0.110.1
  no shutdown

interface Vlan17
  ip address 10.0.111.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 17
    ip 10.0.111.1
  no shutdown

interface Vlan18
  ip address 10.0.112.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 18
    ip 10.0.112.1
  no shutdown

interface Vlan19
  ip address 10.0.84.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 19
    ip 10.0.84.1
  no shutdown

interface Vlan20
  ip address 10.0.33.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 20
    ip 10.0.33.1
  no shutdown

interface Vlan25
  ip passive-interface eigrp 1003
  hsrp 25

interface Vlan35
  ip address 172.16.35.1/24
  ip router eigrp 1
  ip passive-interface eigrp 1003
  hsrp 35
  description Ixia test servers
  no shutdown

interface Vlan36
  ip address 10.0.34.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 36
    name Vlan36
    ip 10.0.34.1
  no shutdown

interface Vlan37
  ip address 10.0.35.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 37
    name Vlan37
    ip 10.0.35.1
  no shutdown

interface Vlan80
  ip address 10.0.201.50/28
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 80
    name vlan80
    ip 10.0.201.49
  description Net-Eng-ProxySG
  no shutdown

interface Vlan81
  ip address 10.0.201.162/28
  no ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 81
    name Vlan81
    ip 10.0.201.161
  description SDDC-sandbox1-mgmt
  no shutdown

interface Vlan82
  ip address 10.0.64.2/27
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 82
    name Vlan82
    ip 10.0.64.1
  description F5 mgmt
  no shutdown

interface Vlan83
  ip address 10.0.83.2/28
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 83
    name Vlan83
    ip 10.0.83.1
  description F5 mgmt
  no shutdown

interface Vlan84
  ip address 10.0.83.18/29
  ip wccp 90 redirect in
  hsrp version 2
  hsrp 84
    ip 10.0.83.17
  no shutdown

interface Vlan85
  ip address 10.0.83.26/29
  hsrp version 2
  hsrp 85
    ip 10.0.83.25
  no shutdown

interface Vlan86
  ip address 10.0.201.98/28
  hsrp version 2
  hsrp 86
    ip 10.0.201.97
  no shutdown

interface Vlan87
  ip address 10.0.201.18/28
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 87
    name Vlan87
    ip 10.0.201.17
  description Net-Eng-Device-mgmt
  no shutdown

interface Vlan88
  ip address 10.0.201.130/28
  hsrp version 2
  hsrp 88
    name Vlan88
    ip 10.0.201.129
  description Net-Eng-F5-LB002
  no shutdown

interface Vlan89
  ip address 10.0.201.146/28
  hsrp version 2
  hsrp 89
    name Vlan89
    ip 10.0.201.145
  description Net-Eng-F5-LB004
  no shutdown

interface Vlan99
  ip address 10.0.99.2/24
  hsrp version 2
  hsrp 99
    ip 10.0.99.1
  no shutdown

interface Vlan100
  ipv6 address 2620:147:c00:1::2/64
  hsrp version 2
  hsrp 100 ipv6
    ip 2620:147:c00:1::1

interface Vlan104
  ip address 10.0.104.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 104
    ip 10.0.104.1
  no shutdown

interface Vlan128
  ip address 10.0.81.254/25
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 128
    ip 10.0.81.129
  no shutdown

interface Vlan129
  ip address 10.0.100.2/23
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 129
    ip 10.0.100.1
  ip dhcp relay address 10.0.11.101
  ip dhcp relay address 10.0.48.21
  ip dhcp relay address 10.0.48.22
  no shutdown

interface Vlan150
  ip address 10.0.150.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 150
    ip 10.0.150.1
  ip dhcp relay address 10.0.46.22
  no shutdown

interface Vlan201
  ip passive-interface eigrp 1003

interface Vlan300
  ip flow monitor Netflow-Monitor-1 input
  ip flow monitor Netflow-Monitor-1 output
  ip address 10.0.16.10/24
  hsrp version 2
  hsrp 300
    priority 100 forwarding-threshold lower 1 upper 100
    ip 10.0.16.1
  no shutdown

interface Vlan301
  no ip redirects
  ip address 10.0.1.2/24
  ip address 10.0.2.2/24 secondary
  ipv6 address 2620:147:c00:3::2/64
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 1
    priority 100 forwarding-threshold lower 1 upper 100
  hsrp 301
    ip 10.0.1.1
  hsrp 301 ipv6
    priority 100 forwarding-threshold lower 1 upper 100
    ip 2620:147:c00:3::1
  no shutdown

interface Vlan302
  ip address 10.0.3.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 302
    ip 10.0.3.1
  no shutdown

interface Vlan303
  ip address 10.0.4.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 303
    ip 10.0.4.1
  ip dhcp relay address 10.0.11.101
  ip dhcp relay address 10.0.46.22
  no shutdown

interface Vlan304
  ip address 10.0.8.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 304
    ip 10.0.8.1
  no shutdown

interface Vlan305
  ip address 10.0.6.250/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 305
    ip 10.0.6.1
  no shutdown

interface Vlan306
  ip address 10.0.7.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 306
    ip 10.0.7.1
  ip dhcp relay address 10.0.11.101
  no shutdown

interface Vlan308
  ip address 10.0.5.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 308
    ip 10.0.5.1
  no shutdown

interface Vlan309
  ip address 10.0.17.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 309
    ip 10.0.17.1
  ip dhcp relay address 10.0.11.101
  ip dhcp relay address 10.0.46.22
  no shutdown

interface Vlan310
  ip address 10.0.9.2/25
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 310
    ip 10.0.9.1
  no shutdown

interface Vlan314
  ip address 10.0.18.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 314
    ip 10.0.18.1
  ip dhcp relay address 10.0.11.101
  no shutdown

interface Vlan315
  ip address 10.0.19.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 315
    ip 10.0.19.1
  ip dhcp relay address 10.0.11.101
  ip dhcp relay address 10.0.46.22
  no shutdown

interface Vlan316
  ip address 10.0.24.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 316
    ip 10.0.24.1
  ip dhcp relay address 10.0.11.101
  ip dhcp relay address 10.0.46.22
  no shutdown

interface Vlan317
  ip address 10.0.10.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 317
    ip 10.0.10.1
  no shutdown

interface Vlan319
  ip address 10.0.25.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 319
    ip 10.0.25.1
  no shutdown

interface Vlan321
  ip address 10.0.27.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 321
    ip 10.0.27.1
  ip dhcp relay address 10.0.11.101
  ip dhcp relay address 10.0.46.22
  no shutdown

interface Vlan324
  ip address 10.0.52.2/23
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 324
    ip 10.0.52.1
  ip dhcp relay address 10.0.11.101
  no shutdown

interface Vlan325
  ip address 10.0.54.2/23
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 325
    ip 10.0.54.1
  no shutdown

interface Vlan326
  ip address 10.0.95.1/28
  ipv6 address 2620:147:c00:7::2/64
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 326
  hsrp 326 ipv6
    priority 100 forwarding-threshold lower 1 upper 100
    ip 2620:147:c00:7::1
  ip dhcp relay address 10.0.12.21
  no shutdown

interface Vlan327
  ip address 10.0.95.17/28
  ipv6 address 2620:147:c00:8::2/64
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 327
  hsrp 327 ipv6
    priority 100 forwarding-threshold lower 1 upper 100
    ip 2620:147:c00:8::1
  ip dhcp relay address 10.0.12.21
  no shutdown

interface Vlan328
  ip address 10.0.95.33/28
  ipv6 address 2620:147:c00:9::2/64
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 328
  hsrp 328 ipv6
    priority 100 forwarding-threshold lower 1 upper 100
    ip 2620:147:c00:9::1
  ip dhcp relay address 10.0.12.21
  no shutdown

interface Vlan329
  ip address 10.0.95.49/28
  ipv6 address 2620:147:c00:10::2/64
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 329
  hsrp 329 ipv6
    priority 100 forwarding-threshold lower 1 upper 100
    ip 2620:147:c00:10::1
  ip dhcp relay address 10.0.12.21
  no shutdown

interface Vlan330
  ip address 10.0.95.65/28
  ipv6 address 2620:147:c00:11::2/64
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 330
  hsrp 330 ipv6
    priority 100 forwarding-threshold lower 1 upper 100
    ip 2620:147:c00:11::1
  ip dhcp relay address 10.0.12.21
  no shutdown

interface Vlan331
  ip address 10.0.95.81/28
  ipv6 address 2620:147:c00:12::2/64
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 331
  hsrp 331 ipv6
    priority 100 forwarding-threshold lower 1 upper 100
    ip 2620:147:c00:12::1
  ip dhcp relay address 10.0.12.21
  no shutdown

interface Vlan332
  ip address 10.0.95.97/27
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 332
  no shutdown

interface Vlan455
  ip address 10.0.200.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 455
    ip 10.0.200.1
  no shutdown

interface Vlan500
  ip address 10.0.11.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 500
    ip 10.0.11.1
  no shutdown

interface Vlan502
  ip address 10.0.36.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 502
    name Vlan502
    ip 10.0.36.1
  no shutdown

interface Vlan510
  ip address 10.0.14.131/28
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 510
    ip 10.0.14.129
  description DMZ to JJNet
  no shutdown

interface Vlan526
  ip address 10.0.12.2/23
  ipv6 address 2620:147:c00:2::2/64
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 526
    ip 10.0.12.1
  hsrp 526 ipv6
    ip 2620:147:c00:2::1
  no shutdown

interface Vlan530
  ip address 10.0.98.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 530
    ip 10.0.98.1
  no shutdown

interface Vlan532
  ip address 10.0.97.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 532
    ip 10.0.97.1
  no shutdown

interface Vlan540
  ip address 10.0.40.2/23
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 540
    ip 10.0.40.1
  no shutdown

interface Vlan542
  ip address 10.0.42.2/23
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 542
    ip 10.0.42.1
  ip dhcp relay address 10.0.46.22
  no shutdown

interface Vlan544
  ip address 10.0.44.2/23
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 544
    ip 10.0.44.1
  ip dhcp relay address 10.0.11.101
  no shutdown

interface Vlan546
  ip address 10.0.46.2/23
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 546
    ip 10.0.46.1
  ip dhcp relay address 10.0.11.101
  no shutdown

interface Vlan548
  ip address 10.0.48.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 548
    ip 10.0.48.1
  no shutdown

interface Vlan549
  ip address 10.0.49.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 549
    ip 10.0.49.1
  no shutdown

interface Vlan550
  ip address 10.0.90.253/23
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 550
    ip 10.0.90.1
  ip dhcp relay address 10.0.11.101
  no shutdown

interface Vlan600
  ipv6 address 2620:147:c00:6::2/64
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 600
  hsrp 600 ipv6
    priority 100 forwarding-threshold lower 1 upper 100
    ip 2620:147:c00:6::1
  no shutdown

interface Vlan610
  ip address 10.0.193.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 610
    ip 10.0.193.1
  ip dhcp relay address 10.0.5.11
  ip dhcp relay address 10.0.5.114
  no shutdown

interface Vlan611
  ip address 10.0.195.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 611
    ip 10.0.195.1
  ip dhcp relay address 10.0.5.11
  ip dhcp relay address 10.0.5.114
  no shutdown

interface Vlan612
  ip address 10.0.202.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 612
    ip 10.0.202.1
  ip dhcp relay address 10.0.5.11
  ip dhcp relay address 10.0.5.114
  no shutdown

interface Vlan613
  ip address 10.0.203.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 613
    ip 10.0.203.1
  ip dhcp relay address 10.0.5.11
  ip dhcp relay address 10.0.5.114
  no shutdown

interface Vlan614
  ip address 10.0.204.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 614
    ip 10.0.204.1
  ip dhcp relay address 10.0.5.11
  ip dhcp relay address 10.0.5.114
  no shutdown

interface Vlan615
  ip address 10.0.205.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 615
    ip 10.0.205.1
  ip dhcp relay address 10.0.5.11
  ip dhcp relay address 10.0.5.114
  no shutdown

interface Vlan616
  ip address 10.0.206.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 616
    ip 10.0.206.1
  ip dhcp relay address 10.0.5.11
  ip dhcp relay address 10.0.5.114
  no shutdown

interface Vlan617
  ip address 10.0.207.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 617
    ip 10.0.207.1
  ip dhcp relay address 10.0.5.11
  ip dhcp relay address 10.0.5.114
  no shutdown

interface Vlan618
  ip address 10.0.213.2/24
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 618
    ip 10.0.213.1
  ip dhcp relay address 10.0.5.11
  ip dhcp relay address 10.0.5.114
  no shutdown

interface Vlan701
  ip address 10.0.14.2/26
  ip passive-interface eigrp 1003
  hsrp version 2
  hsrp 701
    preempt
    priority 255
    ip 10.0.14.1
  ip dhcp relay address 10.0.160.147
  ip dhcp relay address 10.0.160.148
  ip dhcp relay address 10.0.160.149
  description Arista-Mgmt-Vlan
  no shutdown

interface Vlan1229
  no shutdown

interface port-channel101
  switchport mode fex-fabric
  fex associate 101

interface port-channel102
  switchport mode fex-fabric
  fex associate 102

interface port-channel103
  switchport mode fex-fabric
  fex associate 103

interface port-channel104
  switchport mode fex-fabric
  fex associate 104

interface port-channel107
  switchport mode fex-fabric
  fex associate 107

interface port-channel109
  switchport mode fex-fabric
  fex associate 109

interface port-channel110
  switchport mode fex-fabric
  fex associate 110

interface cmp-mgmt module 5
      ip address 10.0.1.21 255.255.255.0
      ip default-gateway 10.0.1.1
interface cmp-mgmt module 6
      ip address 10.0.1.20 255.255.255.0
      ip default-gateway 10.0.1.1


interface Ethernet1/1
  switchport access vlan 99
  no shutdown

interface Ethernet1/2
  switchport access vlan 500
  no shutdown

interface Ethernet1/3
  switchport access vlan 303
  no shutdown

interface Ethernet1/4
  description Avocent6016
  switchport access vlan 87
  no shutdown

interface Ethernet1/5
  switchport access vlan 303
  no shutdown

interface Ethernet1/6
  switchport access vlan 303
  no shutdown

interface Ethernet1/7
  description ICN-raritan-svrfarm-vdc
  no switchport
  ip address 10.0.209.128/31

interface Ethernet1/10
  switchport access vlan 526
  no shutdown

interface Ethernet1/11
  switchport access vlan 93
  no shutdown

interface Ethernet1/12
  switchport access vlan 100
  no shutdown

interface Ethernet1/13
  description to FP4110 in CX-44
  switchport access vlan 300
  no shutdown

interface Ethernet1/14
  description Cisco ACS
  switchport access vlan 301
  no shutdown

interface Ethernet1/15
  switchport access vlan 92
  no shutdown

interface Ethernet1/16
  switchport monitor
  switchport access vlan 325
  no shutdown

interface Ethernet1/17
  switchport access vlan 325
  no shutdown

interface Ethernet1/21
  description ns1.jnjlab.com-LAN1
  switchport access vlan 308
  no shutdown

interface Ethernet1/22
  description ns1.jnjlab.com-LAN2
  switchport access vlan 308
  no shutdown

interface Ethernet1/23
  description ns1.jnjlab.com
  switchport access vlan 20
  no shutdown

interface Ethernet1/24
  description ns1.jnjlab.com
  switchport access vlan 321
  no shutdown

interface Ethernet1/25
  description SDDC-=UCS-ILO
  switchport access vlan 325
  no shutdown

interface Ethernet1/26
  switchport access vlan 325
  no shutdown

interface Ethernet1/27
  description SDDC-UCS_ILO
  switchport access vlan 325
  no shutdown

interface Ethernet1/28
  switchport access vlan 325
  no shutdown

interface Ethernet1/29
  switchport access vlan 325
  no shutdown

interface Ethernet1/30
  switchport access vlan 325
  no shutdown

interface Ethernet1/31
  switchport access vlan 325
  no shutdown

interface Ethernet1/32
  switchport access vlan 325
  no shutdown

interface Ethernet1/33
  switchport access vlan 325
  no shutdown

interface Ethernet1/34
  switchport access vlan 325
  no shutdown

interface Ethernet1/35
  switchport access vlan 325
  no shutdown

interface Ethernet1/36
  switchport access vlan 325
  no shutdown

interface Ethernet1/37
  description SDDC-UCS-ILO
  switchport access vlan 325
  no shutdown

interface Ethernet1/38
  description SDDC-UCS-ILO
  switchport access vlan 325
  no shutdown

interface Ethernet1/39
  description SDDC-UCS-ILO
  switchport access vlan 325
  no shutdown

interface Ethernet1/40
  description SDDC-UCS-ILO
  switchport access vlan 325
  no shutdown

interface Ethernet1/41
  switchport access vlan 325
  no shutdown

interface Ethernet1/42
  switchport access vlan 325
  no shutdown

interface Ethernet1/43
  switchport access vlan 325
  no shutdown

interface Ethernet1/44
  switchport access vlan 325
  no shutdown

interface Ethernet1/45
  switchport access vlan 325
  no shutdown

interface Ethernet1/46
  switchport access vlan 325
  no shutdown

interface Ethernet1/47
  switchport access vlan 301
  no shutdown

interface Ethernet1/48
  switchport access vlan 301
  no shutdown

interface Ethernet2/1
  description old core FW mgmt
  switchport access vlan 99
  no shutdown

interface Ethernet2/2
  description old core FW mgmt
  switchport access vlan 526
  no shutdown

interface Ethernet2/3
  description old core FW port 1
  switchport access vlan 300
  no shutdown

interface Ethernet2/4
  description old core port 1
  switchport access vlan 300
  no shutdown

interface Ethernet2/5
  description Internet-FW (Via Gigamon Tap)
  switchport access vlan 300
  no shutdown

interface Ethernet2/6

interface Ethernet2/7

interface Ethernet2/8

interface Ethernet2/9

interface Ethernet2/10

interface Ethernet2/11

interface Ethernet2/12

interface Ethernet2/13

interface Ethernet2/14

interface Ethernet2/15

interface Ethernet2/16

interface Ethernet2/17

interface Ethernet2/18

interface Ethernet2/19

interface Ethernet2/20

interface Ethernet2/21

interface Ethernet2/22

interface Ethernet2/23

interface Ethernet2/24

interface Ethernet2/25

interface Ethernet2/26

interface Ethernet2/27

interface Ethernet2/28

interface Ethernet2/29

interface Ethernet2/30

interface Ethernet2/31

interface Ethernet2/32

interface Ethernet2/33

interface Ethernet2/34

interface Ethernet2/35

interface Ethernet2/36

interface Ethernet2/37

interface Ethernet2/38

interface Ethernet2/39

interface Ethernet2/40

interface Ethernet2/41

interface Ethernet2/42

interface Ethernet2/43

interface Ethernet2/44

interface Ethernet2/45

interface Ethernet2/46

interface Ethernet2/47

interface Ethernet2/48

interface Ethernet3/1
  switchport mode trunk
  switchport trunk native vlan 99
  no shutdown

interface Ethernet3/2
  switchport mode trunk
  switchport trunk native vlan 99
  no shutdown

interface Ethernet3/3
  switchport mode trunk
  switchport trunk native vlan 99
  no shutdown

interface Ethernet3/4
  switchport mode trunk
  switchport trunk native vlan 99
  no shutdown

interface Ethernet3/5
  switchport mode trunk
  switchport trunk native vlan 99
  no shutdown

interface Ethernet3/6
  switchport mode trunk
  switchport trunk native vlan 99
  no shutdown

interface Ethernet3/7
  switchport mode trunk
  switchport trunk native vlan 99
  no shutdown

interface Ethernet3/8
  switchport mode trunk
  switchport trunk native vlan 99
  no shutdown

interface Ethernet3/9
  description 1Gb to  Cisco Mgt SW-CX45
  switchport mode trunk
  switchport trunk native vlan 701
  no shutdown

interface Ethernet3/10
  description 1Gb to  Cisco Mgt SW-CX45
  switchport mode trunk
  switchport trunk native vlan 99

interface Ethernet3/11
  description 10GB to AristaSW1-1
  switchport mode trunk

interface Ethernet3/12
  description 10GB to AristaSW2-1

interface Ethernet3/13

interface Ethernet3/14
  description 1Gb to  Cisco Mgt SW-CX45
  switchport mode trunk
  switchport trunk native vlan 701
  no shutdown

interface Ethernet3/15

interface Ethernet3/16

interface Ethernet3/17

interface Ethernet3/18

interface Ethernet3/19

interface Ethernet3/20

interface Ethernet3/21

interface Ethernet3/22

interface Ethernet3/23

interface Ethernet3/24

interface Ethernet3/25

interface Ethernet3/26

interface Ethernet3/27

interface Ethernet3/28

interface Ethernet3/29

interface Ethernet3/30

interface Ethernet3/31

interface Ethernet3/32

interface Ethernet9/1
  description ICN-labusra5474rs001-e1/1
  no switchport
  mtu 9216
  ip flow monitor Netflow-Monitor-1 input sampler NF-Sampler-1
  ip flow monitor Netflow-Monitor-1 output sampler NF-Sampler-1
  ip address 10.0.159.1/31
  ip router eigrp 1
  ip distribute-list eigrp 1 prefix-list SDDC-Sandbox1 out
  no ip passive-interface eigrp 1
  ip policy route-map pbr-FP
  no shutdown

interface Ethernet9/2
  description ICN-labusra5474rs002-e1/1
  no switchport
  ip address 10.0.159.5/31
  ip router eigrp 1
  ip distribute-list eigrp 1 prefix-list SDDC-Sandbox1 out
  no ip passive-interface eigrp 1
  ip policy route-map pbr-FP
  no shutdown

interface Ethernet9/3
  description FEX 2232-DI-41
  switchport mode fex-fabric
  fex associate 101
  channel-group 101
  no shutdown

interface Ethernet9/4
  description FEX 2232-DF-41
  switchport mode fex-fabric
  fex associate 102
  channel-group 102
  no shutdown

interface Ethernet9/5
  description FEX 2248-DF-41
  switchport mode fex-fabric
  fex associate 103
  channel-group 103
  no shutdown

interface Ethernet9/6
  description FEX 2248-DI-41
  switchport mode fex-fabric
  fex associate 104
  channel-group 104
  no shutdown

interface Ethernet9/7
  description ICN-labusra5474rs003-e1/47
  no switchport
  ip address 10.0.224.1/31
  ip router eigrp 1
  ip distribute-list eigrp 1 prefix-list static-default out
  ip distribute-list eigrp 1 prefix-list SDDC2-LAB-SUMMARY in
  no ip passive-interface eigrp 1

interface Ethernet9/8
  description Span to Gigamon HC2
  switchport monitor
  no shutdown

interface Ethernet9/9
  description to Ixia-3.2_core2-E9/9_iOS-10G
  no switchport
  ip address 10.0.212.0/31
  ip router eigrp 1
  ip distribute-list eigrp 1 prefix-list Treasury-Raritan-Replication out
  no ip passive-interface eigrp 1
  no shutdown

interface Ethernet9/10
  description to Ixia-3.4_core2-E9/10-Lvl3-10G
  no switchport
  delay 120
  ip address 10.0.212.2/31
  ip router eigrp 1
  ip summary-address eigrp 1 10.0.208.0/23
  no ip passive-interface eigrp 1
  no shutdown

interface Ethernet9/11
  description SDDC layer 2 core connection
  switchport mode trunk
  switchport trunk native vlan 900
  switchport trunk allowed vlan 37,902-903,999-1004,2001-2004,3001-3004
  spanning-tree port type edge
  no shutdown

interface Ethernet9/12
  description FEX 2248-DI-41
  switchport mode fex-fabric
  fex associate 107
  channel-group 107
  no shutdown

interface Ethernet9/13
  description Lab Core to Lab Core Link
  switchport mode trunk
  switchport trunk native vlan 99
  no shutdown

interface Ethernet9/14
  description FEX 2248TP DF-59
  switchport mode fex-fabric
  fex associate 109
  channel-group 109
  no shutdown

interface Ethernet9/15
  switchport mode fex-fabric
  fex associate 110
  channel-group 110
  no shutdown

interface Ethernet9/16
  description Internet-FW
  switchport access vlan 300

interface Ethernet9/17
  description to itsintcore2 e9/17-reserved
  no switchport
  delay 200
  ip address 10.0.212.4/31
  ip router eigrp 1
  ip passive-interface eigrp 1
  no ip passive-interface eigrp 1003
  no shutdown

interface Ethernet9/18
  description to Ixia-2.2
  rate-mode dedicated force
  switchport access vlan 35
  no shutdown

interface Ethernet9/19

interface Ethernet9/20

interface Ethernet9/21

interface Ethernet9/22

interface Ethernet9/23

interface Ethernet9/24

interface Ethernet9/25
  description ICN-raritan-svrfarm-vdc
  rate-mode dedicated force
  no switchport
  ip address 10.0.209.128/31
  ip router eigrp 1
  no ip passive-interface eigrp 1
  no shutdown

interface Ethernet9/26
  description Interop-4506E-DF-41
  switchport mode trunk
  switchport trunk native vlan 99
  no shutdown

interface Ethernet9/27

interface Ethernet9/28
  description SDDC-UCS-Test
  switchport mode trunk
  switchport trunk native vlan 999
  switchport trunk allowed vlan 37
  spanning-tree guard root
  no shutdown

interface Ethernet9/29
  description SDDC-HP-Backup
  switchport access vlan 37
  spanning-tree guard root

interface Ethernet9/30
  description SDDC-UCS-test
  switchport mode trunk
  switchport access vlan 37
  switchport trunk native vlan 999
  switchport trunk allowed vlan 37
  spanning-tree guard root
  no shutdown

interface Ethernet9/31
  description to arista dc2a e1
  no switchport
  ip address 10.0.14.228/31

interface Ethernet9/32
  no switchport

interface Ethernet10/1
  description to AristaDC2A E1
  no switchport
  ip address 10.0.14.228/31
  no shutdown

interface Ethernet10/2
  description to AristaDC2B E1
  no switchport
  ip address 10.0.14.232/31
  no shutdown

interface Ethernet10/3
  switchport mode trunk
  switchport trunk native vlan 900
  no shutdown

interface Ethernet10/4
  no shutdown

interface Ethernet10/5
  switchport mode trunk
  switchport trunk native vlan 900
  no shutdown

interface Ethernet10/6
  switchport mode trunk
  switchport trunk native vlan 900
  no shutdown

interface Ethernet10/7
  switchport mode trunk
  switchport trunk native vlan 900
  no shutdown

interface Ethernet10/8
  switchport mode trunk
  switchport trunk native vlan 900
  no shutdown

interface Ethernet10/9
  switchport mode trunk
  switchport trunk native vlan 900
  no shutdown

interface Ethernet10/10
  switchport mode trunk
  switchport trunk native vlan 900
  no shutdown

interface Ethernet10/11
  switchport mode trunk
  switchport trunk native vlan 900
  no shutdown

interface Ethernet10/12
  switchport mode trunk
  switchport trunk native vlan 900
  no shutdown

interface Ethernet10/13
  switchport mode trunk
  switchport trunk native vlan 900
  spanning-tree port type edge trunk
  spanning-tree bpduguard enable
  no shutdown

interface Ethernet10/14
  switchport mode trunk
  switchport trunk native vlan 900
  no shutdown

interface Ethernet10/15
  switchport mode trunk
  switchport trunk native vlan 99
  no shutdown

interface Ethernet10/16
  switchport mode trunk
  switchport trunk native vlan 900
  no shutdown

interface Ethernet10/17
  switchport mode trunk
  switchport trunk native vlan 900
  no shutdown

interface Ethernet10/18
  switchport mode trunk
  switchport trunk native vlan 99
  no shutdown

interface Ethernet10/19
  description SDDC-HP-Backup
  switchport access vlan 99
  spanning-tree guard root
  no shutdown

interface Ethernet10/20
  description SDDC-HP-Backup
  switchport access vlan 99
  spanning-tree guard root
  no shutdown

interface Ethernet10/21
  switchport access vlan 325
  no shutdown

interface Ethernet10/22
  switchport access vlan 325
  no shutdown

interface Ethernet10/23
  switchport mode trunk
  switchport trunk native vlan 900
  spanning-tree port type edge trunk
  spanning-tree bpduguard enable
  no shutdown

interface Ethernet10/24
  switchport access vlan 325
  switchport trunk native vlan 900
  no shutdown

interface Ethernet10/25
  description Shutdown_No_Config
  switchport access vlan 99
  switchport trunk native vlan 99
  no shutdown

interface Ethernet10/26
  description Shutdown_No_Config
  switchport access vlan 99
  switchport trunk native vlan 99
  no shutdown

interface Ethernet10/27
  description SDDC-HP
  switchport mode trunk
  switchport trunk native vlan 99
  switchport trunk allowed vlan 36,999
  spanning-tree guard root
  no shutdown

interface Ethernet10/28
  description SDDC-VM-UCS
  switchport mode trunk
  switchport trunk native vlan 99
  switchport trunk allowed vlan 36,999
  spanning-tree guard root
  no shutdown

interface Ethernet10/29
  description SDDC-VM-UCS
  switchport mode trunk
  switchport trunk native vlan 99
  switchport trunk allowed vlan 36,999
  spanning-tree guard root
  no shutdown

interface Ethernet10/30
  description SDDC-VM-rackmnt
  switchport mode trunk
  switchport trunk native vlan 99
  switchport trunk allowed vlan 36,999
  spanning-tree guard root
  no shutdown

interface Ethernet10/31
  description HP-C7000-DI46
  switchport mode trunk
  switchport trunk native vlan 999
  switchport trunk allowed vlan 37,309,316,500
  spanning-tree guard root
  no shutdown

interface Ethernet10/32
  description JJnet-FW501_502
  switchport access vlan 510
  no shutdown

interface Ethernet101/1/1
  switchport access vlan 306
  no shutdown

interface Ethernet101/1/2
  description Infoblox
  switchport access vlan 308
  no shutdown

interface Ethernet101/1/3
  description Infoblox
  switchport access vlan 308
  no shutdown

interface Ethernet101/1/4
  switchport access vlan 301
  no shutdown

interface Ethernet101/1/5
  switchport access vlan 610
  no shutdown

interface Ethernet101/1/6
  switchport access vlan 610
  no shutdown

interface Ethernet101/1/7
  switchport access vlan 610
  no shutdown

interface Ethernet101/1/8
  switchport access vlan 610
  no shutdown

interface Ethernet101/1/9
  switchport access vlan 610
  no shutdown

interface Ethernet101/1/10
  switchport access vlan 610
  no shutdown

interface Ethernet101/1/11
  switchport access vlan 610
  no shutdown

interface Ethernet101/1/12
  switchport access vlan 610
  no shutdown

interface Ethernet101/1/13
  switchport access vlan 325
  no shutdown

interface Ethernet101/1/14
  switchport access vlan 325
  no shutdown

interface Ethernet101/1/15
  switchport access vlan 325
  no shutdown

interface Ethernet101/1/16
  switchport access vlan 325
  no shutdown

interface Ethernet101/1/17
  switchport access vlan 129
  speed 1000
  no shutdown

interface Ethernet101/1/18
  switchport access vlan 129
  speed 1000
  no shutdown

interface Ethernet101/1/19
  switchport access vlan 600
  no shutdown

interface Ethernet101/1/20
  switchport access vlan 600
  no shutdown

interface Ethernet101/1/21
  switchport access vlan 600
  no shutdown

interface Ethernet101/1/22
  switchport access vlan 600
  no shutdown

interface Ethernet101/1/23
  switchport access vlan 600
  no shutdown

interface Ethernet101/1/24
  switchport access vlan 600
  no shutdown

interface Ethernet101/1/25
  switchport access vlan 600
  no shutdown

interface Ethernet101/1/26
  switchport access vlan 600
  no shutdown

interface Ethernet101/1/27
  switchport access vlan 600
  no shutdown

interface Ethernet101/1/28
  switchport access vlan 600
  no shutdown

interface Ethernet101/1/29
  switchport access vlan 600
  no shutdown

interface Ethernet101/1/30
  switchport access vlan 600
  no shutdown

interface Ethernet101/1/31
  switchport access vlan 600
  no shutdown

interface Ethernet101/1/32
  switchport access vlan 600
  no shutdown

interface Ethernet102/1/1
  description Infoblox
  switchport access vlan 308
  spanning-tree port type edge
  no shutdown

interface Ethernet102/1/2
  description Infoblox
  switchport access vlan 308
  spanning-tree port type edge
  speed 1000
  no shutdown

interface Ethernet102/1/3
  description LABUSRA5474TA003
  switchport access vlan 86
  spanning-tree port type edge
  speed 1000
  no shutdown

interface Ethernet102/1/4
  description LABUSRA5474TA001
  switchport access vlan 86
  spanning-tree port type edge
  speed 1000
  no shutdown

interface Ethernet102/1/5
  description LABUSRA5474TA003
  switchport access vlan 86
  spanning-tree port type edge
  speed 1000
  no shutdown

interface Ethernet102/1/6
  description LABUSRA5474TA004
  switchport access vlan 86
  spanning-tree port type edge
  speed 1000
  no shutdown

interface Ethernet102/1/7
  description LABUSRA5474FW001-outside
  switchport mode trunk
  switchport access vlan 301
  switchport trunk allowed vlan 84-85
  spanning-tree port type edge trunk
  speed 1000
  no shutdown

interface Ethernet102/1/8
  description LABUSRA5474FW002-outside
  switchport mode trunk
  switchport access vlan 301
  switchport trunk allowed vlan 84-85
  spanning-tree port type edge trunk
  no shutdown

interface Ethernet102/1/9
  description Infoblox
  switchport access vlan 308
  spanning-tree port type edge
  no shutdown

interface Ethernet102/1/10
  description Infoblox
  switchport access vlan 308
  spanning-tree port type edge
  no shutdown

interface Ethernet102/1/11
  description Infoblox
  switchport access vlan 308
  spanning-tree port type edge
  no shutdown

interface Ethernet102/1/12
  description Sourcefire
  switchport access vlan 86
  spanning-tree port type edge
  speed 1000
  no shutdown

interface Ethernet102/1/13
  description Sourcefire
  switchport access vlan 86
  spanning-tree port type edge
  speed 1000
  no shutdown

interface Ethernet102/1/14
  description Fortigate
  switchport access vlan 86
  spanning-tree port type edge
  speed 1000
  no shutdown

interface Ethernet102/1/15
  description Fortigate
  switchport access vlan 86
  spanning-tree port type edge
  speed 1000
  no shutdown

interface Ethernet102/1/16
  description Qualsys
  switchport access vlan 86
  switchport trunk native vlan 86
  spanning-tree port type edge
  speed 1000
  no shutdown

interface Ethernet102/1/17
  description labusra5474ts002
  switchport access vlan 87
  spanning-tree port type edge
  speed 1000
  no shutdown

interface Ethernet102/1/18
  description Cisco ASA5555-X DF-42
  switchport access vlan 301
  no shutdown

interface Ethernet102/1/19
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet102/1/20
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet102/1/21
  description Juniper SA-4000 DF-42 int
  switchport access vlan 308
  spanning-tree port type edge
  speed 1000
  duplex full
  no shutdown

interface Ethernet102/1/22
  description Juniper SA-4000 DF-42 ext
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet102/1/23
  switchport access vlan 99
  no shutdown

interface Ethernet102/1/24
  switchport access vlan 526
  no shutdown

interface Ethernet102/1/25
  switchport access vlan 526
  no shutdown

interface Ethernet102/1/26
  description Voice MPLS router
  switchport access vlan 526
  spanning-tree port type edge
  no shutdown

interface Ethernet102/1/27
  description LABUSRA5474TA005
  switchport access vlan 86
  spanning-tree port type edge
  no shutdown

interface Ethernet102/1/28
  description LABUSRA5474TA006
  switchport access vlan 86
  spanning-tree port type edge
  speed 1000
  no shutdown

interface Ethernet102/1/29
  description Cisco ACS server
  switchport access vlan 301
  no shutdown

interface Ethernet102/1/30
  switchport access vlan 301
  no shutdown

interface Ethernet102/1/31
  switchport access vlan 301
  no shutdown

interface Ethernet102/1/32
  switchport access vlan 301
  no shutdown

interface Ethernet103/1/1
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/2
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/3
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/4
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/5
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/6
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/7
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/8
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/9
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/10
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/11
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/12
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/13
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/14
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/15
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/16
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/17
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/18
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/19
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/20
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/21
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/22
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/23
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/24
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/25
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/26
  description moved from ITSNJINTLAB101
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/27
  description moved from ITSNJINTLAB053
  switchport access vlan 500
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/28
  description moved from ITSNJINTLAB101
  switchport access vlan 325
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/29
  description moved from ITSNJINTLAB094
  switchport access vlan 325
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/30
  description moved from ITSNJINTLAB094
  switchport access vlan 325
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/31
  description moved from ITSNJINTLAB094
  switchport access vlan 325
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/32
  description moved from ITSNJINTLAB094
  switchport access vlan 325
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/33
  switchport access vlan 500
  no shutdown

interface Ethernet103/1/34

interface Ethernet103/1/35

interface Ethernet103/1/36

interface Ethernet103/1/37

interface Ethernet103/1/38

interface Ethernet103/1/39

interface Ethernet103/1/40
  description labusra5474ts001
  switchport access vlan 87
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/41
  description SDDC-sandbox1-mgmt
  switchport access vlan 81
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/42
  description SDDC-sandbox1-mgmt
  switchport access vlan 81
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/43
  description SDDC-sandbox1-mgmt
  switchport access vlan 81
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/44
  description SDDC-sandbox1-mgmt
  switchport access vlan 81
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/45
  description SDDC-sandbox1-mgmt
  switchport access vlan 81
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/46
  description SDDC-sandbox1-mgmt
  switchport access vlan 81
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/47
  description SDDC-sandbox1-mgmt
  switchport access vlan 81
  spanning-tree port type edge
  no shutdown

interface Ethernet103/1/48
  description SDDC-sandbox1-mgmt
  switchport access vlan 81
  spanning-tree port type edge
  no shutdown

interface Ethernet104/1/1
  switchport access vlan 309
  no shutdown

interface Ethernet104/1/2
  description LABUSRA5474FW001-admin
  switchport access vlan 87
  spanning-tree port type edge
  no shutdown

interface Ethernet104/1/3
  description LABUSRA5474FW002-admin
  switchport access vlan 87
  spanning-tree port type edge
  no shutdown

interface Ethernet104/1/4
  switchport access vlan 325
  no shutdown

interface Ethernet104/1/5
  switchport access vlan 325
  no shutdown

interface Ethernet104/1/6
  switchport access vlan 330

interface Ethernet104/1/7
  switchport access vlan 330

interface Ethernet104/1/8
  switchport access vlan 330

interface Ethernet104/1/9
  switchport access vlan 331

interface Ethernet104/1/10
  switchport access vlan 331

interface Ethernet104/1/11
  switchport access vlan 331

interface Ethernet104/1/12
  switchport access vlan 99
  no shutdown

interface Ethernet104/1/13
  switchport access vlan 129
  no shutdown

interface Ethernet104/1/14
  switchport access vlan 129
  no shutdown

interface Ethernet104/1/15
  switchport access vlan 309
  switchport trunk native vlan 900
  no shutdown

interface Ethernet104/1/16
  switchport access vlan 309
  switchport trunk native vlan 900
  no shutdown

interface Ethernet104/1/17
  switchport access vlan 99
  no shutdown

interface Ethernet104/1/18
  switchport access vlan 309
  no shutdown

interface Ethernet104/1/19
  switchport access vlan 309
  no shutdown

interface Ethernet104/1/20
  switchport access vlan 309
  no shutdown

interface Ethernet104/1/21
  switchport access vlan 309

interface Ethernet104/1/22
  switchport access vlan 309

interface Ethernet104/1/23
  switchport access vlan 309

interface Ethernet104/1/24
  switchport access vlan 309
  no shutdown

interface Ethernet104/1/25
  description win7PC-DI-41
  switchport access vlan 87
  spanning-tree port type edge
  no shutdown

interface Ethernet104/1/26
  switchport mode trunk
  no shutdown

interface Ethernet104/1/27
  switchport mode trunk
  no shutdown

interface Ethernet104/1/28
  switchport access vlan 309
  no shutdown

interface Ethernet104/1/29
  switchport access vlan 309
  no shutdown

interface Ethernet104/1/30
  switchport access vlan 309
  no shutdown

interface Ethernet104/1/31
  switchport access vlan 309
  no shutdown

interface Ethernet104/1/32
  switchport access vlan 309
  no shutdown

interface Ethernet104/1/33
  switchport access vlan 309
  no shutdown

interface Ethernet104/1/34
  switchport access vlan 309
  no shutdown

interface Ethernet104/1/35
  switchport access vlan 309
  no shutdown

interface Ethernet104/1/36
  switchport access vlan 309
  no shutdown

interface Ethernet104/1/37
  switchport access vlan 309
  no shutdown

interface Ethernet104/1/38
  switchport access vlan 309
  no shutdown

interface Ethernet104/1/39
  switchport access vlan 309
  no shutdown

interface Ethernet104/1/40
  switchport access vlan 309
  no shutdown

interface Ethernet104/1/41
  description labusra5474pr001-mgmt
  switchport access vlan 87
  no shutdown

interface Ethernet104/1/42
  description labusra5474pr001-2:1
  switchport access vlan 80
  no shutdown

interface Ethernet104/1/43
  no shutdown

interface Ethernet104/1/44
  no shutdown

interface Ethernet104/1/45
  description MGMT_BLUECOAT_Proxy
  switchport access vlan 87
  no shutdown

interface Ethernet104/1/46
  description BLUECOAT_Proxy_Traffic
  switchport access vlan 80
  no shutdown

interface Ethernet104/1/47
  description labusra5474pr002-mgmt
  switchport access vlan 87
  no shutdown

interface Ethernet104/1/48
  description labusra5474pr002-2:1
  switchport access vlan 80
  no shutdown

interface Ethernet107/1/1
  switchport access vlan 325
  no shutdown

interface Ethernet107/1/2
  switchport access vlan 325
  no shutdown

interface Ethernet107/1/3
  switchport access vlan 325
  no shutdown

interface Ethernet107/1/4
  switchport access vlan 325
  no shutdown

interface Ethernet107/1/5
  switchport access vlan 325
  no shutdown

interface Ethernet107/1/6
  switchport access vlan 325
  no shutdown

interface Ethernet107/1/7
  switchport access vlan 325
  no shutdown

interface Ethernet107/1/8
  switchport access vlan 325
  no shutdown

interface Ethernet107/1/9
  description labusra5474lb001-mgmt
  switchport access vlan 82
  no shutdown

interface Ethernet107/1/10
  description labusra5474lb001-1.1
  switchport access vlan 83
  no shutdown

interface Ethernet107/1/11
  description labusra5474lb002-mgmt
  switchport access vlan 82
  no shutdown

interface Ethernet107/1/12
  description labusra5474lb002-1.1
  switchport access vlan 88
  no shutdown

interface Ethernet107/1/13
  description labusra5474lb002-1.2
  switchport access vlan 90
  no shutdown

interface Ethernet107/1/14
  description labusra5474lb002-1.3
  switchport access vlan 91
  no shutdown

interface Ethernet107/1/15
  description labusra5474lb004-mgmt
  switchport access vlan 82
  no shutdown

interface Ethernet107/1/16
  description labusra5474lb004-1.1
  switchport access vlan 90
  no shutdown

interface Ethernet107/1/17
  description labusra5474lb004-1.2
  switchport access vlan 91
  no shutdown

interface Ethernet107/1/18
  description labusra5474lb004-1.3
  switchport access vlan 89
  no shutdown

interface Ethernet107/1/19
  description NAS-CTERA
  switchport access vlan 309
  no shutdown

interface Ethernet107/1/20
  description NAS-CTERA
  switchport access vlan 309
  no shutdown

interface Ethernet107/1/21
  description NAS-CTERA
  switchport access vlan 309
  no shutdown

interface Ethernet107/1/22
  description NAS-CTERA
  switchport access vlan 309
  no shutdown

interface Ethernet107/1/23
  switchport access vlan 129
  no shutdown

interface Ethernet107/1/24
  switchport access vlan 129
  no shutdown

interface Ethernet107/1/25

interface Ethernet107/1/26

interface Ethernet107/1/27

interface Ethernet107/1/28

interface Ethernet107/1/29

interface Ethernet107/1/30

interface Ethernet107/1/31

interface Ethernet107/1/32

interface Ethernet107/1/33

interface Ethernet107/1/34

interface Ethernet107/1/35

interface Ethernet107/1/36

interface Ethernet107/1/37

interface Ethernet107/1/38

interface Ethernet107/1/39

interface Ethernet107/1/40

interface Ethernet107/1/41

interface Ethernet107/1/42

interface Ethernet107/1/43

interface Ethernet107/1/44

interface Ethernet107/1/45

interface Ethernet107/1/46

interface Ethernet107/1/47

interface Ethernet107/1/48

interface Ethernet109/1/1
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/2
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/3
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/4
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/5
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/6
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/7
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/8
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/9
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/10
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/11
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/12
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/13
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/14
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/15
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/16
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/17
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/18
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/19
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/20
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/21
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/22
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/23
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/24
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/25
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/26
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/27
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/28
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/29
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/30
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/31
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/32
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/33
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/34
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/35
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/36
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/37
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/38
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/39
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/40
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/41
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/42
  switchport access vlan 306
  no shutdown

interface Ethernet109/1/43

interface Ethernet109/1/44

interface Ethernet109/1/45

interface Ethernet109/1/46

interface Ethernet109/1/47

interface Ethernet109/1/48

interface Ethernet110/1/1
  switchport mode trunk
  switchport trunk native vlan 900
  spanning-tree guard root
  no shutdown

interface Ethernet110/1/2
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/3
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/4
  switchport access vlan 129
  spanning-tree port type edge trunk
  no shutdown

interface Ethernet110/1/5
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/6
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/7
  description itsusraenc2df64-ilo
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/8
  description itsusraenc2df64-ilo
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/9
  description itsusraenc1df64-ilo
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/10
  description itsusraenc1df64-ilo
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/11
  description ITSUSRAENC4CDF63-ilo
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/12
  description ITSUSRAENC4CDF63-ilo
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/13
  description ITSUSRAENC3CDF63-ilo
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/14
  description ITSUSRAENC3CDF63-ilo
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/15
  description ITSUSRAENC2CDF63-ilo
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/16
  description ITSUSRAENC2CDF63-ilo
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/17
  description ITSUSRAENC1CDF63-ilo
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/18
  description ITSUSRAENC1CDF63-ilo
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/19
  description ITSUSRAENC4CDF62-ilo
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/20
  description ITSUSRAENC4CDF62-ilo
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/21
  description ITSUSRAENC3CDF62-ilo
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/22
  description ITSUSRAENC3CDF62-ilo
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/23
  description ITSUSRAENC2CDF62-ilo
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/24
  description ITSUSRAENC2CDF62-ilo
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/25
  description ITSUSRAENC1CDF62-ilo
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/26
  description ITSUSRAENC1CDF62-ilo
  switchport access vlan 129
  no shutdown

interface Ethernet110/1/27
  description ITSUSRALAB3PAR02
  switchport access vlan 305
  no shutdown

interface Ethernet110/1/28
  description ITSUSRALAB3PAR02
  switchport access vlan 305
  no shutdown

interface Ethernet110/1/29
  description ITSUSRALAB3PAR02
  switchport access vlan 305
  no shutdown

interface Ethernet110/1/30
  description ITSUSRALAB3PAR02
  switchport access vlan 305
  no shutdown

interface Ethernet110/1/31
  description ITSUSRALAB3PAR02
  switchport access vlan 305
  no shutdown

interface Ethernet110/1/32
  switchport access vlan 305
  no shutdown

interface Ethernet110/1/33
  switchport access vlan 305
  no shutdown

interface Ethernet110/1/34
  switchport access vlan 305
  no shutdown

interface Ethernet110/1/35
  no shutdown

interface Ethernet110/1/36
  no shutdown

interface Ethernet110/1/37
  no shutdown

interface Ethernet110/1/38
  no shutdown

interface Ethernet110/1/39
  no shutdown

interface Ethernet110/1/40
  no shutdown

interface Ethernet110/1/41
  no shutdown

interface Ethernet110/1/42
  no shutdown

interface Ethernet110/1/43
  no shutdown

interface Ethernet110/1/44
  no shutdown

interface Ethernet110/1/45
  no shutdown

interface Ethernet110/1/46
  no shutdown

interface Ethernet110/1/47
  no shutdown

interface Ethernet110/1/48
  no shutdown
line console
line vty
boot kickstart bootflash:/n7000-s1-kickstart.6.2.12.bin sup-1
boot system bootflash:/n7000-s1-dk9.6.2.12.bin sup-1
boot kickstart bootflash:/n7000-s1-kickstart.6.2.12.bin sup-2
boot system bootflash:/n7000-s1-dk9.6.2.12.bin sup-2
router eigrp 1
  eigrp router-id 10.0.99.252
  passive-interface default
  redistribute static route-map static-default
  redistribute eigrp 1003 route-map static-default
router eigrp 1003
  passive-interface default
  network 10.0.0.0/16
  redistribute eigrp 1 route-map SDDC-LAB-EIGRP
router bgp 64512
  neighbor 10.0.14.229 remote-as 65002
    address-family ipv4 unicast
      default-originate
  neighbor 10.0.14.233 remote-as 65002
    address-family ipv4 unicast
      default-originate
monitor session 1
  source interface Ethernet10/32 both
  destination interface Ethernet9/8
  no shut
monitor session 2
  source vlan 10 both

monitor erspan origin ip-address 10.0.99.252 global
no system auto-upgrade epld


